* {
    background-color: #002C58;
    font-family: 'Inter';
    font-style: normal;
}

.flex-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 3px solid greenyellow;
}

.container-img {
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.container-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-exit {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #F6796A;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 260px;
    height: 61px;
    border-radius: 30px;
}

.button-exit {
    color: #F6796A;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    margin-top: 40px;
}

.container-button :hover{
    background-color: #f65b6a;
}

.container-exit :hover{
    color: #fff;
}

.container-header {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

#title-a {
    border: 1px solid black;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

#button-return-menu {
    border: 1px solid purple;
    color: #fff;
    position: absolute;
    right: 15%;
    margin-top: 1%;
    font-size: 22px;
}

.button-move {
    border: 1px solid green;
    display: flex;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

#button-move-stock {
    color: #fff;
    background-color: #F6796A;
    width: 261px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

#button-move-stock :hover {
    background-color: #f65b6a;
}

.container-title-list {
    border: 1px solid yellow;
    display: flex;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    justify-content: space-between;
    font-size: 24px;
}

.container-title-list p {
    margin-left: 5px;
}

.container-title-list input {
    width: 30px;
    height: 30px;
    /* accent-color: #002C58; */
}

